@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Thin.ttf");
  font-weight: lighter; }

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-ExtraBold.ttf");
  font-weight: 800; }

@-webkit-keyframes pulsingSize {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); } }

@keyframes pulsingSize {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); } }

@-webkit-keyframes rotateCog {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotateCog {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

* {
  margin: 0;
  padding: 0; }

#cog-icon {
  width: 44px;
  position: fixed;
  bottom: 60px;
  right: 60px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }

#cog-icon:hover {
  -webkit-animation: rotateCog 2s infinite linear;
  animation: rotateCog 2s infinite linear; }

#help-icon {
  width: 30px;
  position: fixed;
  bottom: 60px;
  left: 60px;
  left: 60px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: none;
  /*TEMPORARY UNTIL PROPER HELP PAGE EXISTS*/ }

#help-icon:hover {
  -webkit-animation: pulsingSize .3s linear 0s infinite alternate;
  animation: pulsingSize .3s linear 0s infinite alternate; }

#back-to-search {
  width: 44px;
  position: fixed;
  bottom: 60px;
  left: 60px;
  right: 60px;
  -webkit-transition: width .5s;
  transition: width .5s; }

#back-to-search:hover {
  -webkit-animation: pulsingSize .3s linear 0s infinite alternate;
  animation: pulsingSize .3s linear 0s infinite alternate; }

.smalltext {
  position: relative;
  margin: 0 auto 0;
  width: 70%;
  font-family: "Raleway";
  font-weight: 800;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.5s, opacity 0.3s, border 0.3s;
  transition: color 0.5s, opacity 0.3s, border 0.3s;
  -webkit-transition-delay: -.1s;
  transition-delay: -.1s; }

hr {
  border: 0;
  height: 0;
  width: 60%;
  margin: 30px auto 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

#input {
  display: block;
  position: relative;
  width: 60%;
  max-width: 1000px;
  height: 60%;
  margin: 0px auto;
  padding: 20px 0;
  font-family: "Raleway";
  font-weight: normal;
  font-size: 3.5em;
  color: #dadada;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: height .3s, color .3s;
  transition: height .3s, color .3s;
  background: #fff;
  opacity: 0; }

#input:focus {
  outline: none;
  color: #3d3d3d; }

#input::-webkit-input-placeholder {
  color: #dadada; }

#week {
  width: 300px;
  height: 100px;
  text-align: center;
  font-family: "Raleway";
  font-size: 4em;
  position: fixed;
  color: transparent;
  bottom: 40px;
  left: calc(100% / 2 - 150px);
  -webkit-transition: color .5s;
  transition: color .5s; }

#week:hover {
  color: #dadada; }

#error-output {
  width: 300px;
  margin: 0 auto;
  position: relative;
  color: #e52f2f;
  font-family: "Raleway";
  text-align: center; }

#error-output img {
  width: 17px;
  vertical-align: top; }
