@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Thin.ttf");
  font-weight: lighter; }

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-ExtraBold.ttf");
  font-weight: 800; }

@-webkit-keyframes pulsingSize {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); } }

@keyframes pulsingSize {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); } }

@-webkit-keyframes rotateCog {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotateCog {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

* {
  margin: 0;
  padding: 0; }

#cog-icon {
  width: 44px;
  position: fixed;
  bottom: 60px;
  right: 60px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }

#cog-icon:hover {
  -webkit-animation: rotateCog 2s infinite linear;
  animation: rotateCog 2s infinite linear; }

#help-icon {
  width: 30px;
  position: fixed;
  bottom: 60px;
  left: 60px;
  left: 60px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: none;
  /*TEMPORARY UNTIL PROPER HELP PAGE EXISTS*/ }

#help-icon:hover {
  -webkit-animation: pulsingSize .3s linear 0s infinite alternate;
  animation: pulsingSize .3s linear 0s infinite alternate; }

#back-to-search {
  width: 44px;
  position: fixed;
  bottom: 60px;
  left: 60px;
  right: 60px;
  -webkit-transition: width .5s;
  transition: width .5s; }

#back-to-search:hover {
  -webkit-animation: pulsingSize .3s linear 0s infinite alternate;
  animation: pulsingSize .3s linear 0s infinite alternate; }

.smalltext {
  position: relative;
  margin: 0 auto 0;
  width: 70%;
  font-family: "Raleway";
  font-weight: 800;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.5s, opacity 0.3s, border 0.3s;
  transition: color 0.5s, opacity 0.3s, border 0.3s;
  -webkit-transition-delay: -.1s;
  transition-delay: -.1s; }

hr {
  border: 0;
  height: 0;
  width: 60%;
  margin: 30px auto 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px 10px 20px;
  font-family: "Raleway";
  font-size: 1em;
  border: none;
  border-radius: 10px;
  -webkit-transition: background .2s;
  transition: background .2s; }

button:hover {
  cursor: pointer; }

.main-button {
  color: #fff;
  background: #fff; }

.main-button:hover {
  background: #e65809; }

.main-button:active {
  background: #803208; }

.show-stored {
  color: #3d3d3d;
  font-size: 1em;
  background: #eee; }

.show-stored:hover {
  background: #dadada; }

.delete-all {
  margin-top: 50px; }

#delete-all {
  margin-top: 50px;
  width: 160px; }

h1.smalltext {
  margin-top: 100px; }

nav {
  margin-top: 30px;
  text-align: center; }
  nav ul {
    width: 20%;
    max-width: 300px;
    display: inline-block;
    margin: 20px;
    vertical-align: top; }
    nav ul li {
      list-style: none;
      text-align: left;
      margin: 20px 0 20px 0;
      font-family: "Raleway";
      font-size: 1.1em; }
      nav ul li a {
        color: #3d3d3d;
        color: #438ccb;
        text-decoration: underline; }
      nav ul li a:hover {
        color: #717171;
        color: #145893; }

.pane {
  width: 70%;
  max-width: 1000px;
  overflow: auto;
  margin: 50px auto 0;
  box-sizing: border-box;
  margin-top: 15px;
  padding-top: 45px; }
  .pane h2 {
    font-size: 1em;
    color: #3d3d3d; }
  .pane h3 {
    font-size: .8em;
    color: #dadada;
    margin-top: 10px; }

.pane:before {
  display: block;
  content: " ";
  margin-top: -285px;
  height: 285px;
  visibility: hidden; }

.input-wrapper {
  width: 50%;
  margin: 5px 0 30px 0;
  box-sizing: border-box; }
  .input-wrapper p {
    margin: 0 auto 0;
    box-sizing: border-box; }
  .input-wrapper input {
    width: 70%;
    height: 40px;
    display: block;
    margin: 10px auto 0;
    border: 1px solid #dadada;
    border-radius: 5px;
    font-family: "Raleway";
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: #3d3d3d; }
  .input-wrapper input:focus {
    outline: none;
    height: 40px;
    border: 1px solid #636363; }
  .input-wrapper textarea {
    width: 90%;
    height: 145px;
    display: block;
    margin: 10px auto 0;
    border: 1px solid #dadada;
    border-radius: 5px;
    font-family: "Raleway";
    font-size: 1.1em;
    text-align: center;
    padding: 5px;
    resize: none; }
  .input-wrapper textarea:focus {
    outline: none;
    height: 141px;
    border: 1px solid #636363; }

.double-wrappers {
  display: inline-block;
  float: left;
  vertical-align: top; }

.single-wrapper {
  display: block;
  float: none;
  margin: 5px auto 0; }

select {
  width: 50%;
  display: block;
  margin: 20px auto; }

.stored-shortcuts-list {
  clear: both;
  width: 85%;
  margin: 50px auto 0;
  box-sizing: border-box;
  padding: 0px;
  word-wrap: break-word; }
  .stored-shortcuts-list li {
    width: 100%;
    list-style: none;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 1em;
    text-align: left; }
    .stored-shortcuts-list li h2 {
      font-size: 1em;
      font-weight: bold; }

#search-keyword-pane .input-wrapper textarea {
  height: 70px; }

.stored-search-keywords-list {
  clear: both;
  width: 100%;
  margin: 50px auto 0;
  box-sizing: border-box;
  padding: 0px;
  word-wrap: break-word; }

.stored-search-keywords-list li {
  width: 100%;
  list-style: none;
  font-family: "Raleway";
  font-weight: normal;
  font-size: 1em;
  text-align: left; }

.stored-search-keywords-list li h2 {
  font-size: 1em;
  font-weight: bold; }

#delete-search-keyword-pane .input-wrapper {
  display: block;
  float: none;
  margin: 30px auto 0; }

#change-placeholder-input {
  color: #636363;
  font-weight: 400; }

p.success {
  color: #29ce75; }

p.error {
  color: #e52f2f; }

#export-output, #import-pref-input {
  width: 70%;
  height: 150px;
  display: block;
  margin: 10px auto 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-family: "Raleway";
  font-size: .8em;
  text-align: left;
  padding: 5px; }

.stored-plugin-files-list {
  clear: both;
  width: 70%;
  margin: 50px auto 0;
  box-sizing: border-box;
  padding: 0px;
  word-wrap: break-word; }

.stored-plugin-files-list li {
  width: 100%;
  list-style: none;
  font-family: "Raleway";
  font-weight: normal;
  font-size: 1em;
  text-align: left; }

.stored-plugin-files-list li h2 {
  font-size: 1em;
  font-weight: bold; }

#clear-localStorage-pane {
  margin-top: 400px; }

#clear-localStorage {
  margin-top: 30px;
  margin-bottom: 70px; }

#clear-localStorage:active {
  background: #3d3d3d; }

#warn {
  position: fixed;
  display: none;
  width: 40%;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid #393939;
  box-sizing: border-box;
  background: #fff;
  top: calc(50% - 150px);
  left: calc(50% - 20%);
  font-size: 1em;
  text-align: center;
  /*-webkit-box-shadow: 0px 0px 60px 0px #c9c9c9;
    -moz-box-shadow: 0px 0px 60px 0px #c9c9c9;
    box-shadow: 0px 0px 60px 0px #c9c9c9;*/ }

#warn h2 {
  color: #3d3d3d; }

#warn button {
  display: inline-block;
  margin: 30px 20px 0;
  font-weight: 600; }

#warn #warn-yes {
  background: #dadada;
  color: #3d3d3d; }

#warn #warn-yes:hover {
  background: #eee; }

.response-output {
  width: 500px;
  height: 30px;
  display: block;
  text-align: center;
  margin: 15px auto 0;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

#general_pane .response-output {
  margin-top: -100px; }
