$primary-color: #fa7328;
$primary-color-dark: #e65809;
$primary-color-darker: #803208;
$primary-color: #fa7328;
$placeholder-color: #dadada;
$grey-color: #dadada;
$error-color: #e52f2f;
$success-color: #29ce75;
$almost-black: #3d3d3d;
$lighter-almost-black: #636363;
$lighter-grey-color: #eee;