#stats {
    width: 100%;
    height: 40px;
    padding: 25px 0 0 0;
    position: absolute;
    top: 0;
    text-align: center;
    opacity: 0;
    transition: opacity .3s;
    p {
        color: #a6a6a6;
        font-family: $main-font;
        font-size: 1em;
        font-weight: 100;
        text-align: center;
        transition: color .5s, opacity .3s, border.3s;
        transition-delay: -.1s;
    }
    span {
        font-weight: 600;
        color: #868686;
    }
    #reset-stats {
        color: #a6a6a6;
        margin-left: 30px;
        font-weight: 100;
        text-decoration: underline;
    }
    #reset-stats:hover {
        cursor: pointer;
        color: #868686;
    }
}
#stats:hover {
    opacity: 1;
}
