@import 'common';

#input{
    width: 60%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    text-align: center;
    font-family: $main-font;
    font-weight: normal;
    font-size: 3.5em;
    color: $placeholder-color;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: color .3s;
    background: #fff;
}
#input:focus{
    outline: none;
    color: $almost-black;
}
#input::-webkit-input-placeholder {
   color: $placeholder-color;
}

#week{
    width: 300px;
    height: 100px;
    text-align: center;
    font-family: $main-font;
    font-size: 4em;
    position: fixed;
    color: transparent;
    bottom: 40px;
    left: calc(100% / 2 - 150px);
    transition: color .5s;
}
#week:hover{
    color: $grey-color;
}

#error-output {
    width: 300px;
    margin: 0 auto;
    position: relative;
    color: $error-color;
    font-family: $main-font;
    text-align: center;

    img{
        width: 17px;
        vertical-align: top;
    }
}
