@import 'common';
@import 'buttons';
@import 'confirmationPopup';
@import 'stats';

h1.smalltext{
    margin-top: 100px;
}

nav{
    margin-top: 30px;
    text-align: center;

    ul{
        width: 20%;
        max-width: 300px;
        display: inline-block;
        margin: 20px;
        vertical-align: top;

        li{
            list-style: none;
            text-align: center;
            margin: 20px 0 20px 0;
            font-family: $main-font;
            font-size: 1.1em;

            a{
                color: #3d3d3d;
                color: #438ccb;
                text-decoration: underline;
            }

            a:hover{
                color: #717171;
                color: #145893;
            }
        }
    }
}

.pane:before{
    display: block;
    content: " ";
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
}
.pane{
    width: 70%;
    max-width: 1000px;
    overflow: auto;
    margin: 50px auto 0;
    box-sizing: border-box;
    margin-top: 15px;
    padding-top: 45px;
    overflow: hidden;

    h2{
        font-size: 1.4em;
        color: $almost-black;
    }
    h3{
        font-size: .8em;
        color: $grey-color;
        margin-top: 10px;
    }

    textarea{
        width: 90%;
        height: 145px;
        margin: 10px auto 0;
        padding: 5px;
        text-align: center;
        display: block;
        border: 1px solid $grey-color;
        border-radius: 5px;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 1.1em;
        resize: none;
        outline: none;
    }

    .response-output{
        width: 500px;
        height: 30px;
        display: block;
        text-align: center;
        margin: 15px auto 0;
        opacity: 0;
        transition: opacity .3s;

        p.success{
            color: $success-color;
        }

        p.error{
            color: $error-color;
        }
    }

    .input-wrapper{
        width: 50%;
        margin: 5px 0 30px 0;
        box-sizing: border-box;

        p{
            margin: 0 auto 0;
            box-sizing: border-box;
        }

        input[type="text"]{
            width: 70%;
            height: 40px;
            display: block;
            margin: 10px auto 0;
            border: 1px solid $grey-color;
            border-radius: 5px;
            font-family: $main-font;
            font-size: 1.3em;
            font-weight: bold;
            text-align: center;
            color: $almost-black;
        }
        input[type="text"]:focus{
            outline: none;
            height: 40px;
            border: 1px solid $lighter-almost-black;
        }

        textarea{
        }
        textarea:focus{
            outline: none;
            border: 1px solid $lighter-almost-black;
        }

        select{
            width: 50%;
            display: block;
            margin: 20px auto;
        }
    }

    .double-wrappers{
        display: inline-block;
        float: left;
        vertical-align: top;
    }

    .single-wrapper{
        display: block;
        float: none;
        margin: 5px auto 0;
    }

    .stored-list{
        clear: both;
        width: 85%;
        margin: 50px auto 0;
        box-sizing: border-box;
        padding: 0px;
        word-wrap:break-word;

        li{
            width: 100%;
            list-style: none;
            font-family: sans-serif;
            font-weight: 100;
            font-size: 1em;
            text-align: left;

            h2{
                font-family: $main-font;
                font-size: 1em;
                font-weight: bold;
            }
        }
    }

    .smallDouble{
        margin: 0 auto;
        width: 70%;
    }

    #checkbox-list{
        margin: 50px auto 0;
        text-align: center;
        width: 70%/2;

        p,
        input[type="checkbox"]{
            display: inline;
            outline: none;
        }

        input[type="checkbox"]{
            margin-left: 5px;
        }
    }
}

#delete-search-keyword-pane {
    .input-wrapper{
        display: block;
        float: none;
        margin: 30px auto 0;

        textarea {
            height: 70px;
        }
    }
}

#general-pane,
#placeholder-pane{
    input[type="text"]{
        color: $lighter-almost-black;
        font-weight: 400;
    }
}

#export-pref-pane,
#import-pref-pane{
    textarea{
        width: 70%;
        font-size: .9em;
        text-align: left;
    }
}

#clear-localStorage-pane{
    margin-top: 400px;

    button{
        margin-top: 30px;
        margin-bottom: 70px;
    }
}
